*{
  font-family: 'poppins', 'sans serif';
}
body{
  background-color: #F2EFE4;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dashb{
  background-color: #4D2D4A;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  height: 50vh;
  width: 30vw;
}


text{
  color: white;
  margin-bottom:p;
  
}
.dash{
  background-color: white;
}

.password{
  padding-right: 50px;
}

.Cpassword{
  padding-right: 30px;
}

.button{
  background-color: #4D2D4A;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  width: 100px;
}
input{
  border-radius: 5px;
  height: 30px;
}

.cont{
  background-color: WHITE;
  height: 60vh;
  width: 40vw;
padding-bottom: 30px;
border-radius: 30px;
}
h1{
  /* padding: 30px; */
}
p{
  font-size: 40px;
  font-weight: bolder;
     padding: 30px; 

}